@import url("components/sample/style/TabConfig.css");
@import url("components/sample/style/ConnectedResources.css");
@import url("components/sample/style/MainContent.css");
@import url("components/sample/style/TableOfContents.css");
@import url("components/sample/style/QueryRunner.css");
@import url("components/sample/style/Tab.css");
@import url("components/sample/style/DocumentationLinks.css");
@import url("components/sample/style/SampleQueries.css");
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

main {
  margin: auto;
  width: 75vw;
  padding: 2%;
}

@media screen and (max-width: 900px) {
  main {
    width: 95vw;
  }
  nav {
    display: none;
  }
}

.ui-button {
  min-width: min-content;
}

.center {
  text-align: center;
  display: 'flex';
  background-color: #fff;
  margin: unset;
  overflow: hidden;
  position: relative;
}

.pad-vertical {
  padding-top: 8px;
  padding-bottom: 8px;
}
