<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSc Demo Node js</title>
    
</head>
<body>
    <div>
        <h4>
            <button onClick="clicked()"> This is a button</button>
        </h4>
    </div>
    <script>
        function postChannel(accessToken, requestParams) {     
            fetch('https://graph.microsoft.com/v1.0/teams/b126aba2-a1fb-4e03-acc3-410b5d5af2dc/channels/19:8569be66e2fc4826a090076437390936@thread.tacv2', { method: 'DELETE', headers: {
            'Authorization': 'Bearer '+accessToken } })
            .then(response => console.log(response));      
        }
        function clicked(){
            var token=  <%-token%>;

            var requestParams = {
                displayName: "Architecture Discussion",
                description: "This channel is where we debate all future architecture plans",  
                membershipType: "standard",  
            };

            postChannel(token, requestParams);
            
        } 
    </script>
</body>
</html>