.documentation-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .documentation-links {
        flex-direction: column;
    }
    .documentation-links button {
        margin-bottom: 2%;
    }
}
