nav {
    width: 300px;
    min-width: 300px;
    padding: 24px;
    align-self: flex-start;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0px;
    max-height: calc(100vh - 70px);
    overflow: auto;
}
